// Font stacks

$font-google: 'href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$font-family-primary: 'Lato', Helvetica, sans-serif;


// Font weight
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;

// Fonts
$font-stack-primary: 16px;
$font-stack-secondary: 12px;
$font-lineheight: 24px;



// Colors

$white: #fff;
$grey: #777;
$cyan: #58e1c1;
$blue: #51ddfc;
$teal: #80e8d1;
$pomelo: #e4757a;
$fuscia: #fd7856;
$purple: #927bc1;
$green: #63cc82;

$color-primary: $grey;
$color-nav: $white;
$color-nav-bg: $cyan;
$color-cyan: $cyan;
$color-head-primary: $cyan;
$color-head-secondary: $grey;
$color-links: $blue;
$color-links-hover: darken ($blue, 25%);
$color-links-visited: lighten ($blue, 30%);
$color-links-activated: lighten ($blue, 15%);
$color-border: $cyan;


// Buttons

$btn-colors: (
    default     : $blue,
	success     : $pomelo,
	error       : $purple,
	warning     : $green,
	info        : $fuscia
);

// Layout
$max-width: 1000px;
$gutter: 10px;


// Breakpoints

$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;

