.container {
    padding: 0 10px;
}

.card {
    flex-basis: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
}

[class^=col] {
    flex-basis: 100%;
    min-height: 25px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.theme.col-1 {
    background-color: $fuscia;
}

.theme.col-2 {
    background-color: $purple;
}

.theme.col-3 {
    background-color: $blue;
}

.theme.col-4 {
    background-color: $cyan;
}

.theme.col-5 {
    background-color: $teal;
}

.theme.col-6 {
    background-color: $blue;
}

.theme.col-7 {
    background-color: $pomelo;
}

.theme.col-8 {
    background-color: $fuscia;
}

.theme.col-9 {
    background-color: $fuscia;
}

.theme.col-10 {
    background-color: $purple;
}

.theme.col-11 {
    background-color: $blue;
}

.theme.col-12 {
    background-color: $cyan;
}

.theme.col-13 {
    background-color: $teal;
}
