.nav {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    padding-left: 0px;
    &-link {
        width: 100%;
        display: block;
        text-align: center;
        padding: 10px 0;
        transition: background-color .2s ease-in-out, color .2s ease-in-out;
    }
    &:hover {
        color: $color-nav;
        background-color: $color-nav-bg;
    }
}
